@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
.wrapper {
    max-width: 450px;
    min-height: 500px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.logo {
    width: 80px;
    margin: auto;
}

.logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff;
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    /* border: 1px solid red; */
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.wrapper .form-field .fas {
    color: #555;
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #0081C9;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.wrapper .btn:hover {
    background-color: #0081C9;
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #0081C9;
}

.wrapper a:hover {
    color: #0081C9;
}

.icon-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #0081C9;
    color: #fff;
    border: none;
}

.icon-button i {
    margin-right: 10px;
}

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}

.button-52 {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 3px solid rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    color: white;
}

.button-52:after {
    content: "";
    background-color: #372d87d6;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.button-52:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    .button-52 {
        padding: 13px 50px 13px;
    }
    .button-54 {
        padding: 13px 50px 13px;
    }
}

.button-53 {
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 8px 16px 8px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-53:after {
    content: "";
    border-radius: 20%;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 2px;
    left: 1px;
    transition: 0.2s;
}

@media (max-width: 768px) {
    .button-53 {
        width: 70px;
        height: 40px;
        left: 40%;
    }
    .button-fs {
        font-size: 8px;
    }
}

.button-53:hover:after {
    top: 0px;
    left: 0px;
}

.button-54 {
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    cursor: pointer;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    padding-left: 12px;
    padding-right: 12px;
}

.button-54:after {
    content: "";
    background-color: #efefefd6;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 2px;
    left: 1px;
    transition: 0.2s;
}

.button-54:hover:after {
    background-color: #d9d9d9d6;
    top: 0px;
    left: 0px;
}

.btn-love {
    background: transparent;
    border: none;
    outline: none;
    color: grey;
}

.btn-love i:hover {
    cursor: pointer;
}

.produk {
    display: block;
    text-decoration: none;
    transition: transform .07s ease-out;
}

.produk:hover {
    transform: translate(0px, 5px);
    font-size: 15px;
}

.skewed {
    position: absolute;
    opacity: 60%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #b4d0f5;
    z-index: 0;
    transform: skewY(7deg);
    transform-origin: top right;
}

.layout-1 {
    width: 100%;
    display: flex;
    gap: 16px;
}

.grow1 {
    flex-grow: 1;
}

.elementor-pagination {
    color: rgb(36, 98, 255);
    text-decoration: none;
}

.page-numbers {
    text-decoration: none;
}

.inputBox {
    position: relative;
    width: 250px;
}

.inputBox input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(12, 124, 199);
    background: #fff;
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 1em;
    transition: 0.5s;
}

.inputBox label {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: black;
    text-transform: uppercase;
}

.inputBox input:valid~label,
.inputBox input:focus~label {
    color: #0081C9;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: black;
    border-left: 1px solid #0081C9;
    border-right: 1px solid #0081C9;
    letter-spacing: 0.2em;
}

.inputBox :nth-child(2) input:valid~label,
.inputBox :nth-child(2) input:focus~label {
    background: #0081C9;
    color: #1d2b3a;
    border-radius: 2px;
}

.inputBox input:valid,
.inputBox input:focus {
    border: 1px solid;
}


/* yumi */

@media (max-width: 767px) {
    #myCarousel .carousel-inner {
        display: flex;
        flex-direction: column;
    }
    #myCarousel .carousel-inner .carousel-item {
        display: block;
        width: 100%;
    }
    #myCarousel .carousel-inner .carousel-item .list-unstyled {
        display: block;
    }
    #myCarousel .carousel-inner .carousel-item .list-unstyled li {
        display: block;
        width: 100%;
        margin-right: 0 !important;
    }
    #myCarousel .carousel-control-prev,
    #myCarousel .carousel-control-next {
        display: none;
    }
    #myCarousel .carousel-inner .carousel-item li {
        width: 100%;
        margin-right: 0;
    }
}

@media (max-width: 767px) {}


/* CAROUSEL IMAGE */

.img-card {
    height: 400px;
    width: 600px;
    overflow: hidden/* To prevent image from overflowing */
    !important;
}

.img-card .img {
    height: 300 !important;
    /* Make image fill container height */
    width: 300 !important;
    /* Make image fill container width */
    object-fit: cover/* Zoom image to fill container without distortion */
    !important;
}


/* CAROUSEL PREV NEXT ICONS */

.carousel-control-prev .ccp,
.carousel-control-next .ccn {
    color: white !important;
}

.carousel-control-prev:hover .ccp,
.carousel-control-next:hover .ccn {
    color: black !important;
}

.rating-button {
    background-color: #fff;
    border: 2px solid #999;
    border-radius: 5px;
    color: #999;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    padding: 10px 20px;
}

.rating-button:hover {
    background-color: #999;
    color: #fff;
}

.star-button {
    background-color: transparent;
    border: none;
    color: #999;
    cursor: pointer;
    font-size: 24px;
    margin: 5px;
    padding: 0;
    text-shadow: 0px 0px 5px #999;
}

.star-button:hover {
    color: #ffbb00;
}

.star-button:active {
    color: #ffbb00;
    text-shadow: none;
}